:root {
    --main-font-family: 'Outfit', sans-serif;
    --highlight-color-200: hsl(240, 20%, 83%);
    --highlight-color-400: hsl(240, 40%, 83%);
    --highlight-color-600: hsl(240, 60%, 83%);
    --highlight-color-800: hsl(240, 80%, 83%);
    --background-color: hsl(60, 100%, 97%);
    --highlight-color-test: hsla(60, 3%, 24%, 1);
    --highlight-color-test2: hsla(60, 8%, 43%, 0.75);
}

@supports (scroll-behavior: smooth) {

    html {
        scroll-behavior: smooth;
    }

}

/** RESET and DEFAULTS **/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font-family);
    background-color: var(--background-color);
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

img {
    /* width: 200px; */
    /* height: 0; */
    max-width: 100%;
    object-fit: cover;
}

/** NAV **/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: background-color 800ms ease-in-out;
}

.on-scroll {
    background-color: hsl(100, 27%, 73%);
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
    padding: 2em;
}

nav ul li {
    position: relative;
    padding-inline: 1em;
    transition: background-color 100ms ease-in-out;
}

nav ul li::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 5%;
    text-align: center;
    text-decoration: underline;
    width: 90%;
    transform: scale(0);
    transform-origin: right;
    opacity: 0;
    transition-delay: 400ms;
    transition: transform 200ms ease, opacity 200ms ease-in-out;
    border-top: solid 3px var(--highlight-color-test);
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: -14%;
    left: 5%;
    text-align: center;
    text-decoration: underline;
    width: 90%;
    transform: scale(0);
    transform-origin: left;
    opacity: 0;
    transition: transform 200ms ease, opacity 100ms ease-in-out;
    border-bottom: solid 3px var(--highlight-color-test);
}

nav ul li:hover::before,
nav ul li:hover::after {
    transform: scale(1.1);
    opacity: 1;
}

nav ul a {
    font-size: 1.55rem;
    color: var(--highlight-color-test);

}

.active {
    background-color: var(--highlight-color-test2);
    padding: 0.5em 2em;
    border-radius: 3px;
}

.active>a {
    color: #fff !important;
}


/* MAIN PORTION */

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    margin: 0 auto;
    width: 90%;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    margin: 1em;
    background-color: hsl(100, 27%, 73%);
    padding: 1em;
    border-radius: 7px;
}

.card>.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;

}

.card-container :first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.card-container> :first-child .card-img-preview {
    place-self: center;
    transform: translateY(100px);
}

.card-img-preview {
    padding-block: 1em;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10em auto;
    position: relative;
}


.main-hero {
    height: calc(65vh - 112px);
    max-height: 100%;
    padding-block: calc(2em - 80px);
}

.project-highlight {
    height: 100vh;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.hero h1,
.hero h2 {
    text-align: center;
}

.hero h1,
#contact h1 {
    font-size: 4rem;
}

.hero h2,
#contact h2 {
    font-weight: normal;
    font-size: 2rem;
}

.hero p {
    line-height: 1.75;
    font-size: 1.7rem;
    margin-top: 2em;
    width: 65ch;
    text-align: center;
}

#projects {
    margin-block-end: calc(60vh - 112px);
}

#projects,
#contact {
    padding-top: 2em;

}

#contact {
    padding-top: 8em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
}

.social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
}

.social-links li {
    margin: 1em;
}

.social-links ul li a {
    border-radius: 10px;
    margin: 1em;
}

.social-links a {
    display: block;
}

.social-links img {
    border-radius: 10px;
    padding: 1em;
    background-color: #000;
    display: block;
    width: 100px;
    max-width: 100%;
    object-fit: cover;
}

.contact-me p,
.contact-me a:not(li > a) {
    font-size: 1.4rem;
}

.project-highlight .highlight-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1em;
}

div.btn-container {
    display: flex;
    justify-content: center;

}

.btn-container button {
    margin-block-start: 3.5em;
    font-size: 2rem;
    padding: 0.5em 2.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: hsl(10, 75%, 100%);
    background-color: hsl(100, 27%, 73%);
    /* background-color: var(--highlight-color-800); */
}

.project-highlight {
    padding-block: calc(2em + 80px);
}

.card-info {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.4em;
}

.card-container .card:first-child .card-info {
    padding: 0;
    margin: 3em 0;
}

.card-container .card:first-child .card-title {
    transform: translateY(50px);
}

.card .card-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card .card-link {
    padding-top: 1em;
    padding-bottom: 0;
    align-self: flex-end;
}

.card-title-link {
    text-decoration: none !important;
    cursor: pointer;
    color: var(--highlight-color-tes2);
}

.card-title {
    position: relative;
}

.card-title::after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 25%;
    right: 25%;
    text-align: center;
    text-decoration: underline;
    width: 50%;
    transform: scale(0);
    transform-origin: left;
    opacity: 0;
    transition: transform 200ms ease, opacity 100ms ease-in-out;
    border-bottom: solid 3px var(--highlight-color-test);
    /*     content: '';
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
    bottom: -5px;
    transform: scale(0);
    transform-origin: left;
    opacity: 0;
    border-bottom: solid 2px black;
    transition: transform 200ms ease-in-out, opacity 100ms ease-in-out; */
}

.card-title:hover::after {
    transform: scaleX(1);
    opacity: 1;
}